@import './src/n1-main/m1-ui/common/mixins';

.board {
  @include flex(column, center, initial, no wrap);
  width: 50vw;
  margin: 20px;
  height: 100vh;
  border: 1px solid black;
  background: #f09c2d;

  .img {
    width: 60%;
  }

  @media screen and (max-width: 1200px) {
    .daysBox {
      flex-wrap: wrap;
    }
    width: 90vw;
    height: 130vh;
  }
  @media screen and (max-width: 610px) {
    height: 150vh;
  }
  @media screen and (max-width: 500px) {
    height: 190vh;
    font-size: 14px;
  }
  @media screen and (max-width: 340px) {
    height: 340vh;
  }

  .daysBox {
    @include flex(row, center, flex-start, no wrap);
    width: 100%;
    margin: 10px 0;

    .dayBox {
      min-width: 140px;
      width: 20%;
      height: auto;
      border: solid 1px black;
      margin: 5px;

      .minMax {
        @include flex(row, space-around, center, no wrap);

        .minTemp, .maxTemp {
          margin: 10px;
        }

        .celsius {
          height: 15px;
        }
      }
    }
  }

  .listOfCities {
    @include flex(column, space-around, flex-start, wrap);
    margin: 20px;
    height: 60%;
  }
}