.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  width: auto;
  margin: 20px;
  height: 100vh;
  border: 1px solid black;
  background: #f09c2d;
  .img {
    width: 60%;
  }

  .daysBox {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .dayBox {
      width: 20%;
      height: auto;
      border: solid 1px black;
      margin: 5px;
      .minMax {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .minTemp, .maxTemp {
          margin: 10px;
        }
        .celsius {
          height: 15px;
        }
      }
    }
  }
  .listOfCities {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
    flex-direction: column;
    height: 60%;
  }
}