@import './src/n1-main/m1-ui/common/mixins';

.nav {
  @include flex(row, center, center ,no wrap );
  width: auto;
  margin: 10px 20px 0 20px;
  height: 60px;
  border: 1px solid black;
  background: #f09c2d;
  .active {
    margin: 10px;
  }
}